.detailPageContent {
    width: 100%;
    .background {
        background-image: url("../img/decorative-texture-1.png");
        background-repeat: repeat;
        .whiteBg {
            background-color: white;
            padding: 0 0 20px;
            height: auto;
            .card {
                background-color: white;
                width: 100%;
                margin: 0 auto;
                height: auto;
                max-width: 1680px;
                .heroHeader {
                    font-size: 0;
                    display: flex;
                    flex-flow: row wrap;
                    margin: 0 auto;
                    background: url("../img/hero.jpg") center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 800px;
                    width: 100%;
                    padding: 0 0 10px;
                    background-clip: content-box;
                    .center {
                        display: flex;
                        flex-flow: column nowrap;
                        margin: auto;
                        h1.eventName {
                            text-align: center;
                            font-size: 5.625rem;
                            margin: 0 auto;
                            color: white;
                            text-shadow: 0 0 20px rgba($darkGrey, .5);
                        }
                    }
                    .eventInfo {
                        display: inline-block;
                        flex-basis: 50%;
                        font-size: 1rem;
                        vertical-align: top;
                        margin: 0 auto;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .eventDetails {
                        display: inline-block;
                        font-size: 1.3em;
                        vertical-align: top;
                        margin: 0.5em 1em 0;
                        text-align: center;
                        color: white;
                    }
                    .moreDetails {
                        background: #c30;
                        color: white;
                        padding: 0.5em;
                        margin: 1em auto 48px;
                        text-align: center;
                        width: 180px;
                        font-size: 1.3em;
                    }
                }
            }
            .content {
                width: 100%;
                background-color: white;
                margin: 0 auto;
                display: flex;
                height: auto;
                .left {
                    height: 600px;
                    width: 50%;
                    padding: 0;
                    flex-basis: 50%;
                    vertical-align: middle;
                    .exploreMoreVid {
                        width: 100%;
                        flex-basis: 50%;
                        height: 600px;
                        iframe {
                            width: 100%;
                            padding: 0;
                            text-align: center;
                            margin: 0 auto;
                            height: 562.5px; //16:9 ratio
                            display: block;
                        }
                    }
                }
                .right {
                    width: 50%;
                    padding: 0;
                    flex-basis: 50%;
                    height: auto;
                    .text {
                        height: auto;
                        vertical-align: middle;
                        padding: 30px 60px;
                        .eventDetails {
                            font-family: "Interstate",Helvetica,Arial,sans-serif;
                            font-weight: bold;
                            display: inline-block;
                            font-size: 2em;
                            text-align: left;
                            color: black;
                            margin-bottom: 1rem;
                            line-height: 1.5;
                        }
                        .description {
                            font-size: 1.3em;
                            font-weight: normal;
                            max-width: 800px;
                        }
                    }
                }
            }
        }
        .poster {
            width: 100%;
            height: auto;
            padding-top: 60px;
            flex-basis: 100%;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .exploreMoreContainer {
            width: 100%;
            margin: 0 5%;
            display: flex;
            padding: 60px 0;
            .exploreMoreInfo {
                width: 50%;
                flex-basis: 50%;
                padding: 30px 60px;
                background-color: white;
                display: flex;
                -webkit-box-align: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                .vCenter {
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    display: block;
                    line-height: 1.5;
                    h2 {
                        font-size: 2.625em;
                        margin-bottom: 22px;
                        font-family: "Interstate",Helvetica,Arial,sans-serif;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    ul {
                        li {
                            margin: 16px 0;
                            a {
                                font-weight: bold;
                                font-size: 1.125em;
                                color: #036;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            .exploreMoreVid {
                width: 50%;
                flex-basis: 50%;
                iframe {
                    width: 100%;
                    padding: 0;
                    text-align: center;
                    margin: 0 auto;
                    height: 562.5px; //16:9 ratio
                    display: block;
                }
            }
        }
        #eventFeedTag {
            background-color: none;
        }
        .igFeed {
            padding: 0;
            width: 100%;
            text-align: center;
            background-color: none;
            font-size: 0;
            margin: 0 auto;
            max-width: 1680px;
            .igImage {
                padding: 5px;
                display: inline-block;
                border-radius: 15px;
                vertical-align: top;
                width: 33.33%;
                box-sizing: border-box;
                .card {
                    height: auto;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    .link {
                        background-color: $navy;
                        height: auto;
                        width: 100%;
                        min-height: 400px;
                        h2 {
                            font-size: 2rem;
                            color: white;
                            text-align: center;
                            padding: 15px;
                        }
                        .moreDetails {
                            background: #c30;
                            color: white;
                            padding: 15px;
                            margin: 0 auto;
                            text-align: center;
                            display: block;
                            width: 180px;
                            font-size: 1.3rem;
                            vertical-align: bottom;
                        }
                    }
                }
            }
        }
    }
}
