@import url(reset.css);
/* line 11, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
body {
  padding: 0;
  margin: 0;
  background: #fff;
  box-sizing: border-box;
  font-family: "Interstate", Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  color: #333;
  line-height: 1.5; }

/* line 22, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
* {
  box-sizing: inherit; }

/* line 26, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
a {
  font-family: "Interstate", sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase; }

/* line 33, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Interstate", Helvetica, sans-serif;
  padding: 1em;
  text-transform: uppercase;
  background-color: transparent; }

/* line 42, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.navbar {
  background: transparent;
  padding: 0;
  text-align: center;
  font-size: 14px;
  width: 100%; }
  /* line 49, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar.slide-active {
    overflow-x: hidden;
    overflow-y: visible;
    height: 64px; }
    /* line 54, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar.slide-active .nav-container {
      left: 230px;
      position: fixed; }
    /* line 58, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar.slide-active ul.slide-menu {
      left: 0; }
  /* line 63, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar ul.slide-menu {
    width: 230px;
    left: -230px;
    top: 0;
    transition: .5s ease;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background: white;
    position: fixed;
    border-right: 1px solid #ccc;
    height: 2500px; }
    /* line 78, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar ul.slide-menu > li {
      display: block;
      padding: 0;
      border-bottom: 1px solid #ccc; }
      /* line 83, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar ul.slide-menu > li:first-of-type {
        padding: 18.5px 30px; }
      /* line 87, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar ul.slide-menu > li form {
        line-height: 24px;
        position: relative; }
        /* line 91, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar ul.slide-menu > li form input[type=text], .navbar ul.slide-menu > li form input[type=search] {
          border: none;
          border-bottom: 1px solid #333;
          padding: 0.5em 30px 0.5em 0.5em;
          font-style: italic;
          font-size: 14px;
          border-radius: 0;
          -webkit-appearance: none;
          width: 100%; }
          /* line 101, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar ul.slide-menu > li form input[type=text]:focus, .navbar ul.slide-menu > li form input[type=search]:focus {
            outline: 0; }
        /* line 106, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar ul.slide-menu > li form input[type=submit] {
          background: url("../img/search_img.png") top left no-repeat;
          text-indent: -9999px;
          border: 0 none;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 8px;
          right: 8px; }
          /* line 116, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar ul.slide-menu > li form input[type=submit]:hover {
            cursor: pointer; }
      /* line 122, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar ul.slide-menu > li > a {
        display: block;
        color: #333;
        background: url("../img/accordion-arrow-down.gif") 195px center no-repeat;
        padding: 20px 30px; }
        /* line 128, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar ul.slide-menu > li > a.open {
          background-image: url("../img/accordion-arrow-up.gif"); }
        /* line 132, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar ul.slide-menu > li > a.no-arrow {
          background: none; }
        /* line 136, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar ul.slide-menu > li > a span {
          vertical-align: top;
          top: 2px;
          left: 5px;
          position: relative; }
      /* line 144, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar ul.slide-menu > li ul {
        display: none;
        list-style: none;
        padding: 0 30px; }
        /* line 149, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar ul.slide-menu > li ul li {
          display: block;
          padding: 0;
          font-size: .8em; }
          /* line 155, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar ul.slide-menu > li ul li:first-of-type a {
            padding-top: 0; }
          /* line 160, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar ul.slide-menu > li ul li a {
            color: #333;
            padding: 1em 2em;
            display: block;
            line-height: 1.5em; }
  /* line 171, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar .nav-container {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 10px;
    position: relative;
    width: 100%;
    transition: left 0.5s ease;
    left: 0; }
    /* line 185, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container.fixed {
      position: fixed; }
      /* line 191, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container.fixed .logo a.navbar-logo .content img {
        height: 56px;
        transition: height 0.5s ease; }
      /* line 200, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container.fixed .search-and-country form#input_ZOSearchBoxComponent {
        top: 75px; }
      /* line 208, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container.fixed .nav-left li a img.active-triangle, .navbar .nav-container.fixed .nav-right li a img.active-triangle {
        top: 36px; }
      /* line 212, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container.fixed .nav-left li ul.drop-down, .navbar .nav-container.fixed .nav-right li ul.drop-down {
        top: 75px; }
    /* line 219, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .left-menu {
      display: none; }
    /* line 223, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .search-and-country {
      order: 1;
      flex-grow: 3;
      flex-basis: 0;
      text-align: left; }
      /* line 230, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country.open-search form#input_ZOSearchBoxComponent {
        height: 80px;
        transition: height 0.5s ease, padding 0.5s ease, border 0s;
        padding: 0.5em 1em;
        border-top-width: 4px;
        z-index: 10; }
      /* line 239, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country.open-search a img.active-triangle {
        display: block; }
      /* line 246, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country.open-country ul#desktop-country-selector {
        height: 100px;
        padding: 1em;
        border-width: 1px;
        transition: height 0.5s ease, border 0s, padding-left 0s, padding-right 0s;
        z-index: 11; }
      /* line 255, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country.open-country a#nav-country {
        background: url("../img/country-selector-arrow.png") right 4px no-repeat;
        padding-right: 4px; }
      /* line 262, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country a {
        display: inline-block;
        margin: 0 9px;
        padding: 0;
        font-size: 12px;
        color: #666;
        padding-right: 0;
        font-weight: 500; }
        /* line 273, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .search-and-country a img.active-triangle {
          position: absolute;
          bottom: 0;
          display: none; }
        /* line 280, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .search-and-country a span {
          vertical-align: top;
          letter-spacing: 1px;
          position: relative;
          top: 2px;
          padding: 2px 5px; }
      /* line 289, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent {
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: height 0.5s ease, padding 0.5s ease, border 0s;
        position: absolute;
        top: 103px;
        left: 0;
        width: 100%;
        background: white;
        border-top: 0px solid #ccc;
        border-radius: 0;
        padding: 0 1em;
        font-size: 2em;
        z-index: 9; }
        /* line 305, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=search], .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=text] {
          text-transform: uppercase;
          width: 100%;
          float: left;
          padding: 0 0 0.5em;
          border: none;
          border-bottom: 1px solid #ccc;
          color: #333;
          font-weight: bold;
          font-size: 1em; }
          /* line 316, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=search]:focus, .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=text]:focus {
            outline: 0; }
        /* line 321, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=submit] {
          width: 0;
          float: left;
          border: none;
          padding: 0; }
        /* line 328, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent a#search-delete {
          border: none;
          background: url(../img/btn-search-close.gif);
          width: 16px;
          height: 16px;
          position: absolute;
          right: 30px;
          top: 24px;
          text-indent: -9999px; }
      /* line 340, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .search-and-country ul#desktop-country-selector {
        padding: 0;
        border: 0 solid #ccc;
        border-radius: 0;
        top: 68px;
        position: absolute;
        left: 56px;
        background: white;
        height: 0;
        transition: 0.5s ease, border 0s;
        overflow: hidden; }
        /* line 352, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .search-and-country ul#desktop-country-selector li {
          margin: 1em 0; }
          /* line 355, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar .nav-container .search-and-country ul#desktop-country-selector li a {
            text-transform: uppercase; }
            /* line 358, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
            .navbar .nav-container .search-and-country ul#desktop-country-selector li a span {
              text-transform: none;
              color: #999;
              margin: 0;
              padding: 0;
              top: 0; }
    /* line 370, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
      flex-grow: 4;
      flex-basis: 0;
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 377, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .nav-left li, .navbar .nav-container .nav-right li {
        display: inline-block;
        margin: auto 6px; }
        /* line 383, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .nav-left li.open a img.active-triangle, .navbar .nav-container .nav-right li.open a img.active-triangle {
          display: block; }
        /* line 388, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .nav-left li.open ul.drop-down, .navbar .nav-container .nav-right li.open ul.drop-down {
          height: 223px;
          transition: height 0.5s ease, border 0s;
          border-top-width: 4px;
          z-index: 10; }
        /* line 396, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .nav-left li a, .navbar .nav-container .nav-right li a {
          font-weight: bold;
          color: #333;
          position: relative;
          overflow: visible; }
          /* line 402, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar .nav-container .nav-left li a img.active-triangle, .navbar .nav-container .nav-right li a img.active-triangle {
            position: absolute;
            top: 51px;
            width: 20px;
            left: calc(50% - 10px);
            display: none; }
        /* line 411, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .nav-left li ul.drop-down, .navbar .nav-container .nav-right li ul.drop-down {
          height: 0;
          padding: 0;
          position: absolute;
          left: 0;
          top: 103px;
          list-style: none;
          width: 100%;
          margin: 0;
          background: white;
          text-align: center;
          font-size: 0;
          border-top: 0px solid #ccc;
          border-radius: 0;
          transition: height 0.5s ease, border 0s;
          overflow: hidden;
          z-index: 9; }
          /* line 429, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
          .navbar .nav-container .nav-left li ul.drop-down li, .navbar .nav-container .nav-right li ul.drop-down li {
            margin: 0;
            display: inline-block;
            width: 25%;
            font-size: 1rem;
            padding: 0 50px 40px;
            box-sizing: border-box;
            vertical-align: top; }
            /* line 438, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
            .navbar .nav-container .nav-left li ul.drop-down li a, .navbar .nav-container .nav-right li ul.drop-down li a {
              color: #036;
              margin: 0px; }
              /* line 442, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
              .navbar .nav-container .nav-left li ul.drop-down li a img, .navbar .nav-container .nav-right li ul.drop-down li a img {
                width: 100%;
                display: block;
                margin: 40px 0; }
              /* line 448, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
              .navbar .nav-container .nav-left li ul.drop-down li a span, .navbar .nav-container .nav-right li ul.drop-down li a span {
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: top;
                display: block; }
    /* line 460, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .nav-left {
      order: 2;
      text-align: right; }
    /* line 465, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .nav-right {
      order: 4;
      text-align: left; }
    /* line 470, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .logo {
      order: 3;
      flex-grow: 1;
      margin: 0;
      padding: 0; }
      /* line 476, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .logo a.navbar-logo {
        display: inline-block; }
        /* line 480, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .logo a.navbar-logo .content img {
          width: auto;
          height: 85px;
          transition: height 0.5s ease; }
    /* line 489, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .navbar .nav-container .account-and-cart {
      order: 5;
      flex-grow: 3;
      flex-basis: 0;
      text-align: right; }
      /* line 495, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
      .navbar .nav-container .account-and-cart a {
        display: inline-block;
        margin: 0 10px; }
        /* line 499, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
        .navbar .nav-container .account-and-cart a .item-count {
          position: relative;
          top: -10px; }

/* line 508, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.main {
  width: 100%;
  margin: 0 auto;
  font-size: 0px; }
  /* line 513, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .main .background {
    background-image: url("../img/textured_paper.jpg");
    background-repeat: repeat; }

/* line 521, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Interstate", Helvetica, sans-serif;
  padding: 1em 0em;
  text-transform: uppercase;
  background-color: lightblue;
  margin-bottom: 50px; }

/* line 532, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.moreInfo {
  height: auto;
  width: 90%;
  display: flex;
  margin: 0 auto; }
  /* line 540, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .moreInfo ::-webkit-scrollbar {
    display: none; }
  /* line 544, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .moreInfo .left {
    width: 50%;
    height: 1000px;
    flex-basis: 50%;
    display: inline-block;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 30px #bbb;
    -moz-box-shadow: 0px 0px 30px #bbb;
    box-shadow: 0px 0px 30px #bbb;
    background-color: white; }
  /* line 556, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .moreInfo .right {
    width: 50%;
    height: 1000px;
    flex-basis: 50%;
    display: inline-block;
    overflow: scroll;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 30px #bbb;
    -moz-box-shadow: 0px 0px 30px #bbb;
    box-shadow: 0px 0px 30px #bbb;
    background-color: white; }
  /* line 569, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .moreInfo .eventImage {
    flex-basis: 50%;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin: 0 auto; }
    /* line 578, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .moreInfo .eventImage img {
      margin: 0 auto;
      max-height: 1000px; }
  /* line 585, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .moreInfo .eventInfo {
    padding: 40px;
    box-sizing: border-box;
    vertical-align: top;
    margin: 0 auto;
    flex-basis: 50%; }
    /* line 594, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .moreInfo .eventInfo .eventDetails {
      display: inline-block;
      font-size: 2rem;
      margin-bottom: 1rem; }
    /* line 600, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .moreInfo .eventInfo .description {
      font-size: 1.5rem; }
    /* line 604, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
    .moreInfo .eventInfo .title {
      font-size: 3rem;
      color: #036; }

/* line 611, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 500px;
  /* your iframe height */
  top: 500px;
  /* your iframe height */
  margin-top: -500px;
  /* your iframe height */ }

/* line 620, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.map {
  width: 100%;
  text-align: center;
  height: 500px;
  padding: 20px;
  margin: 0 auto;
  display: table-cell; }

/* line 629, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
h2 {
  text-align: center;
  font-size: 4rem;
  font-family: "Interstate", Helvetica, sans-serif;
  padding: 0.5em 0em;
  margin-bottom: 0px; }

/* line 640, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.lastYear {
  height: auto;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap; }
  /* line 647, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .lastYear .lastYearImage {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    display: inline-block;
    padding: 20px; }

/* line 656, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
.athletes {
  height: auto;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  margin-bottom: 10px; }
  /* line 664, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .athletes .athleteImage {
    width: 50%;
    height: 100%;
    flex-basis: 50%;
    display: inline-block;
    padding: 20px; }
  /* line 672, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .athletes img {
    width: 100%; }

/* line 677, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
footer {
  background-color: #366;
  width: 100%;
  height: 80px;
  color: white;
  line-height: 80px;
  text-align: center;
  margin-top: 50px; }
  /* line 686, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  footer .footerText {
    display: inline-block;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 0 auto; }

@media screen and (max-width: 991px) {
  /* line 700, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar .nav-container .left-menu {
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 2; }
  /* line 706, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar .nav-container .search-and-country {
    display: none; }
  /* line 710, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
    display: none; }
  /* line 717, /Users/retail/Desktop/epic-eventsPage-master/css/secondaryEventsPage.scss */
  .navbar .nav-container .logo a.navbar-logo .content img {
    height: 50px; } }

/*# sourceMappingURL=secondaryEventsPage.css.map */