@import url(reset.css);
/* line 11, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
body {
  padding: 0;
  margin: 0;
  background: #fff;
  box-sizing: border-box;
  font-family: "Interstate", Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
  color: #333;
  line-height: 1.5; }

/* line 22, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
* {
  box-sizing: inherit; }

/* line 26, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
a {
  font-family: "Interstate", sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase; }

/* line 33, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
h1 {
  text-align: center;
  font-size: 5em;
  font-family: "Interstate", Helvetica, sans-serif;
  padding: 1em 0em;
  text-transform: uppercase;
  background-color: transparent; }

/* line 42, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
.navbar {
  background: transparent;
  padding: 0;
  text-align: center;
  font-size: 14px;
  width: 100%; }
  /* line 49, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar.slide-active {
    overflow-x: hidden;
    overflow-y: visible;
    height: 64px; }
    /* line 54, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar.slide-active .nav-container {
      left: 230px;
      position: fixed; }
    /* line 58, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar.slide-active ul.slide-menu {
      left: 0; }
  /* line 63, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar ul.slide-menu {
    width: 230px;
    left: -230px;
    top: 0;
    transition: .5s ease;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    background: white;
    position: fixed;
    border-right: 1px solid #ccc;
    height: 2500px; }
    /* line 78, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar ul.slide-menu > li {
      display: block;
      padding: 0;
      border-bottom: 1px solid #ccc; }
      /* line 83, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar ul.slide-menu > li:first-of-type {
        padding: 18.5px 30px; }
      /* line 87, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar ul.slide-menu > li form {
        line-height: 24px;
        position: relative; }
        /* line 91, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar ul.slide-menu > li form input[type=text], .navbar ul.slide-menu > li form input[type=search] {
          border: none;
          border-bottom: 1px solid #333;
          padding: 0.5em 30px 0.5em 0.5em;
          font-style: italic;
          font-size: 14px;
          border-radius: 0;
          -webkit-appearance: none;
          width: 100%; }
          /* line 101, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar ul.slide-menu > li form input[type=text]:focus, .navbar ul.slide-menu > li form input[type=search]:focus {
            outline: 0; }
        /* line 106, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar ul.slide-menu > li form input[type=submit] {
          background: url("../img/search_img.png") top left no-repeat;
          text-indent: -9999px;
          border: 0 none;
          width: 16px;
          height: 16px;
          position: absolute;
          top: 8px;
          right: 8px; }
          /* line 116, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar ul.slide-menu > li form input[type=submit]:hover {
            cursor: pointer; }
      /* line 122, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar ul.slide-menu > li > a {
        display: block;
        color: #333;
        background: url("../img/accordion-arrow-down.gif") 195px center no-repeat;
        padding: 20px 30px; }
        /* line 128, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar ul.slide-menu > li > a.open {
          background-image: url("../img/accordion-arrow-up.gif"); }
        /* line 132, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar ul.slide-menu > li > a.no-arrow {
          background: none; }
        /* line 136, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar ul.slide-menu > li > a span {
          vertical-align: top;
          top: 2px;
          left: 5px;
          position: relative; }
      /* line 144, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar ul.slide-menu > li ul {
        display: none;
        list-style: none;
        padding: 0 30px; }
        /* line 149, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar ul.slide-menu > li ul li {
          display: block;
          padding: 0;
          font-size: .8em; }
          /* line 155, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar ul.slide-menu > li ul li:first-of-type a {
            padding-top: 0; }
          /* line 160, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar ul.slide-menu > li ul li a {
            color: #333;
            padding: 1em 2em;
            display: block;
            line-height: 1.5em; }
  /* line 171, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar .nav-container {
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8px 10px;
    position: relative;
    width: 100%;
    transition: left 0.5s ease;
    left: 0; }
    /* line 185, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container.fixed {
      position: fixed; }
      /* line 191, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container.fixed .logo a.navbar-logo .content img {
        height: 56px;
        transition: height 0.5s ease; }
      /* line 200, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container.fixed .search-and-country form#input_ZOSearchBoxComponent {
        top: 75px; }
      /* line 208, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container.fixed .nav-left li a img.active-triangle, .navbar .nav-container.fixed .nav-right li a img.active-triangle {
        top: 36px; }
      /* line 212, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container.fixed .nav-left li ul.drop-down, .navbar .nav-container.fixed .nav-right li ul.drop-down {
        top: 75px; }
    /* line 219, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .left-menu {
      display: none; }
    /* line 223, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .search-and-country {
      order: 1;
      flex-grow: 3;
      flex-basis: 0;
      text-align: left; }
      /* line 230, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country.open-search form#input_ZOSearchBoxComponent {
        height: 80px;
        transition: height 0.5s ease, padding 0.5s ease, border 0s;
        padding: 0.5em 1em;
        border-top-width: 4px;
        z-index: 10; }
      /* line 239, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country.open-search a img.active-triangle {
        display: block; }
      /* line 246, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country.open-country ul#desktop-country-selector {
        height: 100px;
        padding: 1em;
        border-width: 1px;
        transition: height 0.5s ease, border 0s, padding-left 0s, padding-right 0s;
        z-index: 11; }
      /* line 255, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country.open-country a#nav-country {
        background: url("../img/country-selector-arrow.png") right 4px no-repeat;
        padding-right: 4px; }
      /* line 262, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country a {
        display: inline-block;
        margin: 0 9px;
        padding: 0;
        font-size: 12px;
        color: #666;
        padding-right: 0;
        font-weight: 500; }
        /* line 273, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .search-and-country a img.active-triangle {
          position: absolute;
          bottom: 0;
          display: none; }
        /* line 280, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .search-and-country a span {
          vertical-align: top;
          letter-spacing: 1px;
          position: relative;
          top: 2px;
          padding: 2px 5px; }
      /* line 289, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent {
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        transition: height 0.5s ease, padding 0.5s ease, border 0s;
        position: absolute;
        top: 103px;
        left: 0;
        width: 100%;
        background: white;
        border-top: 0px solid #ccc;
        border-radius: 0;
        padding: 0 1em;
        font-size: 2em;
        z-index: 9; }
        /* line 305, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=search], .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=text] {
          text-transform: uppercase;
          width: 100%;
          float: left;
          padding: 0 0 0.5em;
          border: none;
          border-bottom: 1px solid #ccc;
          color: #333;
          font-weight: bold;
          font-size: 1em; }
          /* line 316, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=search]:focus, .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=text]:focus {
            outline: 0; }
        /* line 321, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent input[type=submit] {
          width: 0;
          float: left;
          border: none;
          padding: 0; }
        /* line 328, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .search-and-country form#input_ZOSearchBoxComponent a#search-delete {
          border: none;
          background: url(../img/btn-search-close.gif);
          width: 16px;
          height: 16px;
          position: absolute;
          right: 30px;
          top: 24px;
          text-indent: -9999px; }
      /* line 340, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .search-and-country ul#desktop-country-selector {
        padding: 0;
        border: 0 solid #ccc;
        border-radius: 0;
        top: 68px;
        position: absolute;
        left: 56px;
        background: white;
        height: 0;
        transition: 0.5s ease, border 0s;
        overflow: hidden; }
        /* line 352, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .search-and-country ul#desktop-country-selector li {
          margin: 1em 0; }
          /* line 355, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar .nav-container .search-and-country ul#desktop-country-selector li a {
            text-transform: uppercase; }
            /* line 358, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .navbar .nav-container .search-and-country ul#desktop-country-selector li a span {
              text-transform: none;
              color: #999;
              margin: 0;
              padding: 0;
              top: 0; }
    /* line 370, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
      flex-grow: 4;
      flex-basis: 0;
      list-style: none;
      padding: 0;
      margin: 0; }
      /* line 377, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .nav-left li, .navbar .nav-container .nav-right li {
        display: inline-block;
        margin: auto 6px; }
        /* line 383, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .nav-left li.open a img.active-triangle, .navbar .nav-container .nav-right li.open a img.active-triangle {
          display: block; }
        /* line 388, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .nav-left li.open ul.drop-down, .navbar .nav-container .nav-right li.open ul.drop-down {
          height: 223px;
          transition: height 0.5s ease, border 0s;
          border-top-width: 4px;
          z-index: 10; }
        /* line 396, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .nav-left li a, .navbar .nav-container .nav-right li a {
          font-weight: bold;
          color: #333;
          position: relative;
          overflow: visible; }
          /* line 402, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar .nav-container .nav-left li a img.active-triangle, .navbar .nav-container .nav-right li a img.active-triangle {
            position: absolute;
            top: 51px;
            width: 20px;
            left: calc(50% - 10px);
            display: none; }
        /* line 411, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .nav-left li ul.drop-down, .navbar .nav-container .nav-right li ul.drop-down {
          height: 0;
          padding: 0;
          position: absolute;
          left: 0;
          top: 103px;
          list-style: none;
          width: 100%;
          margin: 0;
          background: white;
          text-align: center;
          font-size: 0;
          border-top: 0px solid #ccc;
          border-radius: 0;
          transition: height 0.5s ease, border 0s;
          overflow: hidden;
          z-index: 9; }
          /* line 429, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .navbar .nav-container .nav-left li ul.drop-down li, .navbar .nav-container .nav-right li ul.drop-down li {
            margin: 0;
            display: inline-block;
            width: 25%;
            font-size: 1rem;
            padding: 0 50px 40px;
            box-sizing: border-box;
            vertical-align: top; }
            /* line 438, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .navbar .nav-container .nav-left li ul.drop-down li a, .navbar .nav-container .nav-right li ul.drop-down li a {
              color: #036;
              margin: 0px; }
              /* line 442, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
              .navbar .nav-container .nav-left li ul.drop-down li a img, .navbar .nav-container .nav-right li ul.drop-down li a img {
                width: 100%;
                display: block;
                margin: 40px 0; }
              /* line 448, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
              .navbar .nav-container .nav-left li ul.drop-down li a span, .navbar .nav-container .nav-right li ul.drop-down li a span {
                font-size: 14px;
                letter-spacing: 1px;
                vertical-align: top;
                display: block; }
    /* line 460, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .nav-left {
      order: 2;
      text-align: right; }
    /* line 465, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .nav-right {
      order: 4;
      text-align: left; }
    /* line 470, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .logo {
      order: 3;
      flex-grow: 1;
      margin: 0;
      padding: 0; }
      /* line 476, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .logo a.navbar-logo {
        display: inline-block; }
        /* line 480, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .logo a.navbar-logo .content img {
          width: auto;
          height: 85px;
          transition: height 0.5s ease; }
    /* line 489, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .navbar .nav-container .account-and-cart {
      order: 5;
      flex-grow: 3;
      flex-basis: 0;
      text-align: right; }
      /* line 495, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .navbar .nav-container .account-and-cart a {
        display: inline-block;
        margin: 0 10px; }
        /* line 499, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .navbar .nav-container .account-and-cart a .item-count {
          position: relative;
          top: -10px; }

/* line 508, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
.main {
  width: 100%; }
  /* line 511, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .background {
    background-image: url("../img/decorative-texture-1.png");
    background-repeat: repeat; }
  /* line 516, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .fluid {
    width: 100%;
    margin: 0 auto; }
  /* line 521, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .heroTop {
    border-top: 4px solid #036;
    border-bottom: 4px solid #036;
    padding: 200px 1em;
    background: url("../img/events-hero.jpg") center center no-repeat;
    background-size: cover;
    color: white; }
    /* line 529, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .heroTop h1 {
      padding: 1rem;
      font-size: 5em;
      text-shadow: 0 0 20px rgba(51, 51, 51, 0.5); }
  /* line 536, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .featuredEvents {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    background-image: url(../img/camping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    padding: 0px;
    background-clip: content-box;
    max-width: 1680px; }
    /* line 550, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .content {
      margin: auto;
      width: 90%;
      vertical-align: middle;
      color: white; }
    /* line 557, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents h2 {
      flex-shrink: 0;
      flex-grow: 1;
      margin-left: 1em;
      height: auto; }
    /* line 565, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents ul.eventList {
      background: rgba(100, 100, 100, 0.5);
      height: auto;
      font-size: 1rem;
      color: white;
      list-style: disc;
      display: flex;
      flex-flow: column nowrap;
      width: auto;
      margin: auto;
      padding: 20px; }
      /* line 577, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents ul.eventList h1 {
        text-align: center;
        font-size: 4rem;
        font-family: "Interstate", Helvetica, sans-serif;
        text-transform: uppercase;
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        width: 100%;
        margin: 0 auto;
        color: white; }
      /* line 591, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents ul.eventList li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 0em 1em; }
        /* line 597, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .main .featuredEvents ul.eventList li .eventName {
          order: 1;
          display: inline-block; }
        /* line 602, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .main .featuredEvents ul.eventList li .eventDate {
          order: 2;
          display: inline-block; }
    /* line 609, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .eventInfo {
      display: inline-block;
      flex-basis: 50%;
      font-size: 1rem;
      vertical-align: top;
      margin: 0 auto; }
      /* line 617, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents .eventInfo img {
        width: 100%;
        height: auto; }
    /* line 623, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .eventDetails {
      display: inline-block;
      font-size: 1.3em;
      vertical-align: top;
      margin: 0.5em 1em 0em 1em;
      text-align: center;
      color: white; }
    /* line 632, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .moreDetails {
      background: #c30;
      color: white;
      padding: .5em;
      margin: 1em auto 48px auto;
      text-align: center;
      width: 180px;
      font-size: 1.3em; }
  /* line 643, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .upcomingEventList2 {
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 0;
    margin: 0 auto;
    max-width: 1680px; }
    /* line 652, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 h2 {
      flex-basis: 100%;
      flex-shrink: 0;
      flex-grow: 1;
      height: auto;
      font-size: 3rem;
      color: black;
      margin-left: 2rem;
      margin-top: .5em;
      text-align: left; }
    /* line 664, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .card {
      height: auto;
      width: 100%;
      background: #fff; }
    /* line 673, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .imageBackground {
      height: auto;
      width: 100%; }
    /* line 678, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .content {
      margin: 0 auto;
      width: 100%;
      vertical-align: middle;
      background: white;
      height: auto;
      display: inline-block; }
    /* line 687, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 h1 {
      text-align: center;
      font-size: 3rem;
      font-family: "Interstate", Helvetica, sans-serif;
      padding: 1em;
      text-transform: uppercase;
      flex-basis: 100%;
      flex-shrink: 0;
      flex-grow: 1;
      color: black;
      background-color: transparent; }
    /* line 700, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .upcomingEvent {
      font-size: 1rem;
      padding: 20px;
      display: inline-block;
      border-radius: 15px;
      vertical-align: top;
      width: 33.33%;
      box-sizing: border-box; }
      /* line 710, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent img {
        width: 100%;
        height: 100%; }
    /* line 716, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .eventDetails {
      width: 100%;
      margin: 16px;
      flex-grow: 1;
      flex-shrink: 1;
      display: inline-block;
      font-size: 1.3em;
      vertical-align: middle;
      margin: 0.5em 0em 0em 2rem;
      color: black;
      text-align: left;
      margin-left: 2rem;
      padding-right: 3em; }
    /* line 732, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .moreDetails {
      background: #c30;
      color: white;
      padding: .5em;
      margin: 1em auto 2em 1.5em;
      text-align: center;
      display: block;
      width: 180px;
      font-size: 1.3em; }
  /* line 744, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .topBar {
    background-color: white; }
  /* line 749, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .whiteBg {
    width: 100%;
    height: auto;
    background-color: white; }
    /* line 753, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .whiteBg .pastEvents {
      width: 100%;
      max-width: 1680px;
      font-size: 0em;
      background-color: white;
      background-repeat: repeat;
      margin: 1em auto; }
      /* line 762, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents h2 {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        height: auto;
        font-size: 2rem;
        color: black;
        display: flex;
        align-self: flex-end;
        justify-content: flex-start;
        margin-left: 1em; }
      /* line 776, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .card {
        margin-bottom: 1rem; }
      /* line 783, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .imageBackground {
        background: -moz-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/biking.jpg") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, transparent), color-stop(100%, white)), url("../img/biking.jpg") no-repeat;
        background: -webkit-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/biking.jpg") no-repeat;
        background: -o-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/biking.jpg") no-repeat;
        background: -ms-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/biking.jpg") no-repeat;
        background: linear-gradient(to bottom, transparent 0%, transparent 70%, white 100%), url("../img/biking.jpg") no-repeat;
        background-size: cover;
        height: 300px;
        display: flex;
        vertical-align: middle; }
      /* line 796, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .imageBackground2 {
        background: -moz-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/kayaking.jpg") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, transparent), color-stop(100%, white)), url("../img/kayaking.jpg") no-repeat;
        background: -webkit-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/kayaking.jpg") no-repeat;
        background: -o-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/kayaking.jpg") no-repeat;
        background: -ms-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/kayaking.jpg") no-repeat;
        background: linear-gradient(to bottom, transparent 0%, transparent 70%, white 100%), url("../img/kayaking.jpg") no-repeat;
        background-size: cover;
        height: 300px;
        display: flex;
        vertical-align: middle; }
      /* line 809, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .imageBackground3 {
        background: -moz-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/dewTourOG.jpg") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, transparent), color-stop(100%, white)), url("../img/dewTourOG.jpg") no-repeat;
        background: -webkit-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/dewTourOG.jpg") no-repeat;
        background: -o-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/dewTourOG.jpg") no-repeat;
        background: -ms-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/dewTourOG.jpg") no-repeat;
        background: linear-gradient(to bottom, transparent 0%, transparent 70%, white 100%), url("../img/dewTourOG.jpg") no-repeat;
        background-size: cover;
        height: 300px;
        display: flex;
        vertical-align: middle; }
      /* line 823, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .imageBackground4 {
        background: -moz-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/zealAtDewTour.png") no-repeat;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, transparent), color-stop(100%, white)), url("../img/zealAtDewTour.png") no-repeat;
        background: -webkit-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/zealAtDewTour.png") no-repeat;
        background: -o-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/zealAtDewTour.png") no-repeat;
        background: -ms-linear-gradient(top, transparent 0%, transparent 70%, white 100%), url("../img/zealAtDewTour.png") no-repeat;
        background: linear-gradient(to bottom, transparent 0%, transparent 70%, white 100%), url("../img/zealAtDewTour.png") no-repeat;
        background-size: cover;
        height: 300px;
        display: flex;
        vertical-align: middle; }
      /* line 838, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .content {
        margin: 0 auto;
        width: 100%;
        vertical-align: middle;
        height: auto;
        height: auto;
        display: inline-block;
        justify-content: left;
        background-color: white; }
      /* line 849, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents h1 {
        text-align: left;
        font-size: 3rem;
        font-family: "Interstate", Helvetica, sans-serif;
        padding: 1em;
        text-transform: uppercase;
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        color: black; }
      /* line 861, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .pastEvent {
        float: left;
        height: auto;
        font-size: 1rem;
        padding: 20px;
        display: inline-block;
        width: 25%;
        border-radius: 15px; }
      /* line 871, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .eventDetails {
        flex-grow: 1;
        flex-shrink: 1;
        display: inline-block;
        font-size: 1.3em;
        vertical-align: middle;
        margin: 0.5em 1.3em 0em 2rem;
        color: black;
        text-align: left; }
      /* line 884, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .moreDetails {
        background: #c30;
        color: white;
        padding: .5em;
        margin: 1em auto;
        text-align: center;
        display: block;
        width: 150px;
        margin: 1em auto 2em 2rem; }

/* line 897, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
.detailPageContent {
  width: 100%; }
  /* line 899, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .background {
    background-image: url("../img/decorative-texture-1.png");
    background-repeat: repeat; }
    /* line 902, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .background .whiteBg {
      background-color: white;
      padding: 0px 0px 20px 0px;
      height: auto; }
      /* line 906, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .background .whiteBg .card {
        background-color: white;
        width: 100%;
        margin: 0 auto;
        height: auto;
        max-width: 1680px; }
        /* line 912, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .detailPageContent .background .whiteBg .card .heroHeader {
          font-size: 0;
          display: flex;
          flex-flow: row wrap;
          margin: 0px auto;
          background: url(../img/hero.jpg) center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 800px;
          width: 100%;
          padding: 0px 0px 10px 0px;
          background-clip: content-box; }
          /* line 924, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .whiteBg .card .heroHeader .center {
            display: flex;
            flex-flow: column nowrap;
            margin: auto; }
            /* line 928, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .whiteBg .card .heroHeader .center h1.eventName {
              text-align: center;
              font-size: 5.625rem;
              margin: 0 auto;
              color: white;
              text-shadow: 0 0 20px rgba(51, 51, 51, 0.5); }
          /* line 937, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .whiteBg .card .heroHeader .eventInfo {
            display: inline-block;
            flex-basis: 50%;
            font-size: 1rem;
            vertical-align: top;
            margin: 0 auto; }
            /* line 943, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .whiteBg .card .heroHeader .eventInfo img {
              width: 100%;
              height: auto; }
          /* line 949, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .whiteBg .card .heroHeader .eventDetails {
            display: inline-block;
            font-size: 1.3em;
            vertical-align: top;
            margin: 0.5em 1em 0em 1em;
            text-align: center;
            color: white; }
          /* line 958, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .whiteBg .card .heroHeader .moreDetails {
            background: #c30;
            color: white;
            padding: .5em;
            margin: 1em auto 48px auto;
            text-align: center;
            width: 180px;
            font-size: 1.3em; }
      /* line 970, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .background .whiteBg .content {
        width: 100%;
        background-color: white;
        margin: 0px auto;
        display: flex;
        height: auto; }
        /* line 985, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .detailPageContent .background .whiteBg .content .left {
          height: 600px;
          width: 50%;
          padding: 0px;
          flex-basis: 50%;
          vertical-align: middle; }
          /* line 996, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .whiteBg .content .left .exploreMoreVid {
            width: 100%;
            flex-basis: 50%;
            height: 600px; }
            /* line 1000, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .whiteBg .content .left .exploreMoreVid iframe {
              width: 100%;
              padding: 0px;
              text-align: center;
              margin: 0 auto;
              height: 562.5px;
              display: block; }
        /* line 1010, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .detailPageContent .background .whiteBg .content .right {
          width: 50%;
          padding: 0px;
          flex-basis: 50%;
          height: auto; }
          /* line 1015, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .whiteBg .content .right .text {
            height: auto;
            vertical-align: middle;
            padding: 30px 60px; }
            /* line 1019, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .whiteBg .content .right .text .eventDetails {
              font-family: "Interstate",Helvetica,Arial,sans-serif;
              font-weight: bold;
              display: inline-block;
              font-size: 2em;
              text-align: left;
              color: black;
              margin-bottom: 1rem;
              line-height: 1.5; }
            /* line 1029, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .whiteBg .content .right .text .description {
              font-size: 1.3em;
              font-weight: normal;
              max-width: 800px; }
    /* line 1039, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .background .poster {
      width: 100%;
      height: auto;
      padding-top: 60px;
      flex-basis: 100%;
      margin: 0 auto; }
      /* line 1045, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .background .poster img {
        width: 100%; }
    /* line 1050, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .background .exploreMoreContainer {
      width: 100%;
      margin: 0px 5%;
      display: flex;
      padding: 60px 0; }
      /* line 1055, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .background .exploreMoreContainer .exploreMoreInfo {
        width: 50%;
        flex-basis: 50%;
        padding: 30px 60px;
        background-color: white;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
        /* line 1066, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .detailPageContent .background .exploreMoreContainer .exploreMoreInfo .vCenter {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          line-height: 1.5; }
          /* line 1072, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .exploreMoreContainer .exploreMoreInfo .vCenter h2 {
            font-size: 2.625em;
            margin-bottom: 22px;
            font-family: "Interstate",Helvetica,Arial,sans-serif;
            font-weight: bold;
            text-transform: uppercase; }
          /* line 1080, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .exploreMoreContainer .exploreMoreInfo .vCenter ul li {
            margin: 16px 0px; }
            /* line 1082, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .exploreMoreContainer .exploreMoreInfo .vCenter ul li a {
              font-weight: bold;
              font-size: 1.125em;
              color: #036;
              text-transform: uppercase; }
      /* line 1092, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .background .exploreMoreContainer .exploreMoreVid {
        width: 50%;
        flex-basis: 50%; }
        /* line 1095, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .detailPageContent .background .exploreMoreContainer .exploreMoreVid iframe {
          width: 100%;
          padding: 0px;
          text-align: center;
          margin: 0 auto;
          height: 562.5px;
          display: block; }
    /* line 1106, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .background #eventFeedTag {
      background-color: none; }
    /* line 1110, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .background .igFeed {
      padding: 0px 0px;
      width: 100%;
      text-align: center;
      background-color: none;
      font-size: 0;
      margin: 0 auto;
      max-width: 1680px; }
      /* line 1119, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .background .igFeed .igImage {
        padding: 5px;
        display: inline-block;
        border-radius: 15px;
        vertical-align: top;
        width: 33.33%;
        box-sizing: border-box; }
        /* line 1126, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
        .detailPageContent .background .igFeed .igImage .card {
          height: auto;
          width: 100%; }
          /* line 1129, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .igFeed .igImage .card img {
            width: 100%;
            height: 100%; }
          /* line 1133, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
          .detailPageContent .background .igFeed .igImage .card .link {
            background-color: #036;
            height: auto;
            width: 100%;
            min-height: 400px; }
            /* line 1138, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .igFeed .igImage .card .link h2 {
              font-size: 2rem;
              color: white;
              text-align: center;
              padding: 15px; }
            /* line 1144, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
            .detailPageContent .background .igFeed .igImage .card .link .moreDetails {
              background: #c30;
              color: white;
              padding: 15px;
              margin: 0 auto;
              text-align: center;
              display: block;
              width: 180px;
              font-size: 1.3rem;
              vertical-align: bottom; }

/* line 1162, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
footer {
  background-color: #366;
  width: 100%;
  height: 80px;
  color: white;
  line-height: 80px;
  text-align: center;
  margin-top: 50px; }
  /* line 1171, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  footer .footerText {
    display: inline-block;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding: 0 auto; }

@media screen and (max-width: 1679px) and (min-width: 992px) {
  /* line 1190, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar .nav-container .left-menu {
    display: inline-flex;
    flex-basis: 0;
    flex-grow: 2; }
  /* line 1196, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar .nav-container .search-and-country {
    display: none; }
  /* line 1200, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar .nav-container .nav-left, .navbar .nav-container .nav-right {
    display: none; }
  /* line 1207, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .navbar .nav-container .logo a.navbar-logo .content img {
    height: 50px; } }

@media screen and (max-width: 991px) and (min-width: 500px) {
  /* line 1219, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .heroTop h1 {
    padding: 1em 20px;
    font-size: 4em; }
  /* line 1223, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .background h1 {
    font-size: 4rem; }
  /* line 1226, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .upcomingEventList2 {
    width: 100%; }
    /* line 1228, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .upcomingEvent {
      width: 50%;
      padding: 10px; }
      /* line 1233, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent .card .content h2 {
        font-size: 2rem; }
      /* line 1236, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent .card .content .eventDetails {
        font-size: 1rem; }
      /* line 1239, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent .card .content .moreDetails {
        font-size: 1rem; }
  /* line 1247, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .whiteBg .pastEvents {
    width: 100%; }
    /* line 1249, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .whiteBg .pastEvents .pastEvent {
      width: 50%;
      padding: 10px; }
      /* line 1252, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .pastEvent .eventDetails {
        font-size: 1rem; }
  /* line 1258, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .featuredEvents {
    width: 100%;
    padding: 10px; }
    /* line 1262, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .eventList .eventName {
      font-size: 3rem; }
    /* line 1265, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .eventList .eventDetails {
      font-size: 1rem; }
    /* line 1268, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .eventList .moreDetails {
      font-size: 1rem; }
  /* line 1275, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .heroTop h1 {
    padding: 1em 20px;
    font-size: 4em; }
  /* line 1279, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .background h1 {
    font-size: 4rem; }
  /* line 1282, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .upcomingEventList2 {
    width: 100%; }
    /* line 1284, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .upcomingEventList2 .upcomingEvent {
      width: 50%;
      padding: 10px; }
      /* line 1289, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .upcomingEventList2 .upcomingEvent .card .content h2 {
        font-size: 2rem; }
      /* line 1292, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .upcomingEventList2 .upcomingEvent .card .content .eventDetails {
        font-size: 1rem; }
      /* line 1295, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .upcomingEventList2 .upcomingEvent .card .content .moreDetails {
        font-size: 1rem; }
  /* line 1303, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .pastEvents {
    width: 100%; }
    /* line 1305, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .pastEvents .pastEvent {
      width: 50%;
      padding: 10px; }
      /* line 1308, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .pastEvents .pastEvent .eventDetails {
        font-size: 1rem; }
  /* line 1313, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .featuredEvents {
    width: 100%;
    padding: 10px; }
    /* line 1317, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .featuredEvents .eventList .eventName {
      font-size: 3rem; }
    /* line 1320, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .featuredEvents .eventList .eventDetails {
      font-size: 1rem; }
    /* line 1323, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .featuredEvents .eventList .moreDetails {
      font-size: 1rem; } }

@media screen and (max-width: 499px) {
  /* line 1333, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .heroTop h1 {
    text-align: center;
    font-size: 3em;
    padding: 1em 5px; }
  /* line 1338, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .background h1 {
    font-size: 3rem; }
  /* line 1341, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .upcomingEventList2 {
    width: 100%; }
    /* line 1343, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .upcomingEventList2 .upcomingEvent {
      width: 100%;
      padding: 10px; }
      /* line 1348, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent .card .content h2 {
        font-size: 2rem; }
      /* line 1351, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent .card .content .eventDetails {
        font-size: 1rem; }
      /* line 1354, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .upcomingEventList2 .upcomingEvent .card .content .moreDetails {
        font-size: 1rem; }
  /* line 1362, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .whiteBg .pastEvents {
    width: 100%; }
    /* line 1364, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .whiteBg .pastEvents .pastEvent {
      width: 100%;
      padding: 10px; }
      /* line 1367, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .whiteBg .pastEvents .pastEvent .eventDetails {
        font-size: 1rem; }
  /* line 1373, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .main .featuredEvents {
    width: 100%;
    padding: 10px; }
    /* line 1376, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .main .featuredEvents .eventList {
      padding: 5px; }
      /* line 1378, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents .eventList li {
        margin: 0 auto; }
      /* line 1381, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents .eventList .eventName {
        font-size: 2rem; }
      /* line 1384, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents .eventList .eventDetails {
        font-size: 1rem; }
      /* line 1387, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .main .featuredEvents .eventList .moreDetails {
        font-size: 1rem; }
  /* line 1395, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .heroTop h1 {
    text-align: center;
    font-size: 3em;
    padding: 1em 5px; }
  /* line 1400, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .background h1 {
    font-size: 3rem; }
  /* line 1403, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .upcomingEventList2 {
    width: 100%; }
    /* line 1405, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .upcomingEventList2 .upcomingEvent {
      width: 100%;
      padding: 10px; }
      /* line 1410, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .upcomingEventList2 .upcomingEvent .card .content h2 {
        font-size: 2rem; }
      /* line 1413, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .upcomingEventList2 .upcomingEvent .card .content .eventDetails {
        font-size: 1rem; }
      /* line 1416, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .upcomingEventList2 .upcomingEvent .card .content .moreDetails {
        font-size: 1rem; }
  /* line 1423, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .pastEvents {
    width: 100%; }
    /* line 1425, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .pastEvents .pastEvent {
      width: 100%;
      padding: 10px; }
      /* line 1428, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .pastEvents .pastEvent .eventDetails {
        font-size: 1rem; }
  /* line 1433, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
  .detailPageContent .featuredEvents {
    width: 100%;
    padding: 10px;
    height: 600px; }
    /* line 1437, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
    .detailPageContent .featuredEvents .eventList {
      padding: 5px; }
      /* line 1439, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .featuredEvents .eventList li {
        margin: 0 auto; }
      /* line 1442, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .featuredEvents .eventList .eventName {
        font-size: 2rem; }
      /* line 1445, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .featuredEvents .eventList .eventDetails {
        font-size: 1rem; }
      /* line 1448, /Users/retail/Desktop/epic-eventsPage/css/style.scss */
      .detailPageContent .featuredEvents .eventList .moreDetails {
        font-size: 1rem; } }

/*# sourceMappingURL=style.css.map */
