$lightGrey: #ccc;
$mediumGrey: #666;
$darkGrey: #333;
$navy: rgb(0, 21, 66);
$white: #fff;
$green: #366;
$red: #036;
$containerWidth: 1600px;
@import 'reset.css';
@import 'navbar';
@import 'eventDetailPage';
body {
    padding: 0;
    margin: 0;
    background: $white;
    box-sizing: border-box;
    font-family: "Interstate", Helvetica, Arial, sans-serif;
    letter-spacing: 0.025em;
    color: $darkGrey;
    line-height: 1.5;
}
* {
    box-sizing: inherit;
}
.main {
    width: 100%;
    background-image: url("../img/decorative-texture-1.png");
    background-repeat: repeat;
    a {
        color: $mediumGrey;
        text-decoration: none;
        text-transform: uppercase;
    }
    h1 {
        text-align: center;
        font-size: 5em;
        padding: 1em 0;
        text-transform: uppercase;
        background-color: rgba(0,0,0,0);
    }
    h2 {
        font-size: 42px;
        text-align: center;
        margin: 1em auto;
        font-weight: bold;
        text-transform: uppercase;
        line-height: normal;
    }
    .heroTop {
        border-top: 4px solid $navy;
        border-bottom: 4px solid $navy;
        padding: 50px 1em;
        background: url('../img/events-hero.jpg') center center no-repeat;
        background-size: cover;
        color: white;
        h1 {
            padding: 1rem;
            font-size: 5em;
            text-shadow: 0 0 20px rgba($darkGrey, .5);
            line-height: 400px;
        }
    }
    ul.featuredEvents {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        margin: 2em auto;
        width: 90%;
        max-width: $containerWidth;
        padding: 0;
        color: white;
        li {
            flex-basis: 80%;
            flex-grow: 4;
            flex-shrink: 1;
            min-height: 600px;
            padding: 0;
            box-sizing: border-box;
            text-align: center;
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            position: relative;
            width: 100%;
            justify-content: flex-end;
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center center;
            }
            .content {
                background: rgba(0,0,0,.5);
                padding: 1em;
                overflow: auto;
                margin: 0 auto;
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: baseline;
                text-align: left;
                justify-content: space-between;
                z-index: 2;
                h3 {
                    font-size: 3em;
                    margin: 0;
                    flex-basis: 60%;
                    order: 1;
                    flex-grow: 2;
                }
                h4 {
                    font-size: 1em;
                    margin: 0;
                    order: 3;
                    flex-basis: 50%;
                    align-self: flex-end;
                    position: relative;
                    top: -25px;
                    &.date {
                        order: 3;
                    }
                    &.location {
                        order: 5;
                    }
                }
                p {
                    font-size: 1em;
                    text-align: left;
                    max-width: 800px;
                    margin: 0;
                    &.eventDetails {
                        flex-basis: 40%;
                        order: 2;
                        text-align: right;
                        flex-grow: 1;
                    }
                }
                .moreDetails {
                    margin: 0;
                    display: inline-block;
                    background: #c30;
                    padding: 1em 2em;
                    color: white;
                    order: 4;
                    text-align: right;
                }
            }
        }
        ul.other {
            flex-basis: 20%;
            flex-grow: 2;
            flex-shrink: 1;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            align-content: stretch;
            li {
                flex-grow: 1;
                height: auto;
                min-height: 0;
                padding: 0;
                text-align: center;
                position: relative;
                align-items: center;
                overflow: hidden;
                border-bottom: 1px solid white;
                justify-content: center;
                &:last-of-type {
                    border-bottom: none;
                }
                &:hover {
                    cursor: pointer;
                    &:after {
                        background: rgba(0,0,0,0);
                    }
                    .content {}
                    div.bg {
                        filter: none;
                    }
                }
                &:after {
                    background: rgba($navy,.8);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    content: ' ';
                    left: 0;
                    top: 0;
                    z-index: 1;
                }
                div.bg {
                    filter: blur(2px);
                    background-color: $navy;
                }
                .content {
                    width: 100%;
                    padding: 1em;
                    background: none;
                    z-index: 2;
                    position: relative;
                    transition: 0.5s ease;
                    h3 {
                        font-size: 1.5em;
                        text-shadow: 0 0 1em rgba(0,0,0,.5);
                    }
                    h4 {
                        font-size: 1em;
                        text-shadow: 0 0 1em rgba(0,0,0,.5);
                        top: 0;
                    }
                    .date {
                        display: none;
                    }
                    .location {
                        display: none;
                    }
                    .eventDetails {
                        display: none;
                    }
                    .moreDetails {
                        display: none;
                    }
                }
            }
        }
    }
    .pastEvents,
    .upcomingEvents {
        position: relative;
        width: 90%;
        margin: 0 auto;
        max-width: $containerWidth;

        &.pastEvents {
          padding-bottom: 15px;
            .event {
                .card {
                    .imageBackground {
                      position: relative;
                      &:after {
                        content: ' ';
                        background-color: transparent;
                        background: linear-gradient(to top, #fff, transparent);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                      }
                    }
                    .content {
                        h2 {
                          padding-bottom: 0;
                        }
                        h3 {
                          display: none;
                        }
                        .details {
                            display: none;
                        }
                    }
                }
            }
        }
        .event {
            width: 33.33%;
            padding: 0 10px;
            margin: 0 auto 30px;
            &:nth-child(3n) {
                padding-right: 0;
                padding-left: 20px;
            }
            &:nth-child(3n-2) {
                padding-left: 0;
                padding-right: 20px;
            }
            .card {
                width: 100%;
                background: white;
                box-shadow: 0 0 5px #aaa;
                .imageBackground {
                    font-size: 0;
                    img {
                        width: 100%;
                    }
                }
                .content {
                    padding: 15px;
                    text-align: center;
                    h2 {
                        padding-bottom: 13px;
                        margin: 0.5em 0;
                        font-size: 1.6em;
                        text-align: left;
                    }
                    h3 {
                        font-weight: bold;
                        padding: 1em 0;
                        text-align: left;
                    }
                    .details {
                        border: 1px solid $lightGrey;
                        border-right: 0;
                        border-left: 0;
                        padding: 0.5em 0;
                        text-align: left;
                        .location {
                            margin-bottom: 0.25em;
                        }
                    }
                    p.eventDetails {
                        text-align: left;
                    }
                    a.moreDetails {
                        display: inline-block;
                        background: #c30;
                        padding: 1em 2em;
                        margin: 1em auto;
                        color: white;
                    }
                }
            }
        }
    }
}
footer {
    background-color: $navy;
    width: 100%;
    color: white;
    text-align: center;
    p {
        padding: 2em 0;
        display: block;
    }
}

/*
  Tablet View
*/
@media screen and (max-width: 991px) {
    .main {
        .heroTop {
          h1 {
            line-height: 1em;
            padding: 1em 20px;
            font-size: 4em;
          }
        }
        .featuredEvents {
        }
        .upcomingEvents, .pastEvents {
            .event {
                width: 50%;
                padding: 10px;
                margin-bottom: 0;

                &:nth-child(2n-1) {
                  // odd events
                  padding: 10px 10px 10px 0;
                }
                &:nth-child(2n) {
                  // even events
                  padding: 10px 0 10px 10px;
                }
                &:nth-child(3n) {
                    padding-right: 10px;
                    padding-left: 0;
                }
                &:nth-child(3n-2) {
                    padding-right: 10px;
                    padding-left: 0;
                }

                .card {
                    .content {
                        h2 {
                            font-size: 2rem;
                        }
                        .eventDetails {
                            font-size: 1rem;
                        }
                        .moreDetails {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    .detailPageContent {
        .heroTop h1 {
            padding: 1em 20px;
            font-size: 4em;
        }
        .background h1 {
            font-size: 4rem;
        }
        .upcomingEventList2 {
            width: 100%;
            .upcomingEvent {
                width: 50%;
                padding: 10px;
                .card {
                    .content {
                        h2 {
                            font-size: 2rem;
                        }
                        .eventDetails {
                            font-size: 1rem;
                        }
                        .moreDetails {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .pastEvents {
            width: 100%;
            .pastEvent {
                width: 50%;
                padding: 10px;
                .eventDetails {
                    font-size: 1rem;
                }
            }
        }
        .featuredEvents {
            width: 100%;
            padding: 10px;
            .eventList {
                .eventName {
                    font-size: 3rem;
                }
                .eventDetails {
                    font-size: 1rem;
                }
                .moreDetails {
                    font-size: 1rem;
                }
            }
        }
    }
}
/*
  Mobile View
*/
@media screen and (max-width: 768px) {
  .main {
    .heroTop {
      padding: 50px 1em;
      h1 {
        font-size: 3em;
        line-height: 1.5em;
      }
    }
    ul.featuredEvents {
      width: 100%;
      margin: 0 auto;
      flex-flow: column nowrap;

      li {
        min-height: 350px;

        .content {
          h3 {
            font-size: 2em;
            flex-basis: 100%;
          }
          h4 {
            font-weight: 200;
          }
          p.eventDetails {
            text-align: left;
            flex-basis: 100%;
            font-weight: 200;
          }
        }
      }
    }
    .upcomingEvents, .pastEvents {
      .event {
        width: 100%;
        padding: 10px 0 !important;
      }
    }
  }
}
